<div>
    <header>
        <h2>login</h2>
    </header>
    <div>
        <form id="loginForm" class="form-border">
            <div >
                <label for="username">username</label>
                <input type="text" id = "username-login">
            </div>
            <div>
                <label for="password">password</label>
                <input type="text" id = "password-login">
            </div>
            <button id="loginButton" class="btn" ype: "submit">login</button>
            <a href="/signup" class="btn">signup</a>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>