<div>
    <div>
        <h2>Make a post</h2>
    </div>
    <form id="new-post" class="form-border">
        <div class="new-post-container">
            <label for="postTitle">title</label>
            <input type="text" name="postTitle">
            <label for="post-body" class="label"> post </label>
            <textarea name="post-body" id="formInput" cols="30" rows="10"></textarea>
            <button type="submit" class="submitButton btn">submit</button>
        </div>
    </form>
</div>

<script src="/js/makeAPost.js"></script>