<div>
    <header>
        <h2>signup</h2>
    </header>
    <div>
        <form id="signup" class="form-border">
            <div>
                <label for="username">username</label>
                <input type="text" id = "username-signup">
            </div>
            <div>
                <label for="password">password</label>
                <input type="text" id = "password-signup">
            </div>
            <button id="signupButton" type: "submit">signup</button>
            <a href="/login">login</a>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>