body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gupter', serif;
    min-height: 100vh;
}

.navbar{
    display: flex;
    background-color: #00ffff;
    padding: 3rem;
    margin-top:0;
    gap: 1rem;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navbar li{
    list-style: none;
    font-size: 1.5em;
}

.layout-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    background-color: blue;
    bottom: 0;    
    width: 100%;
}

footer p{
    color:beige;
    font-size: 2em;
}

main{
    padding: 3rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8);
}

.form-border{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    padding: 2rem;
    align-items: center;
}

.form-title{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.form-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem;
}

.posts a {
    font-size: 1.5em;
}

.new-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 70rem;
 
}

.btn{
    padding: .5rem;
    background-color: blueviolet;
    box-shadow: 3px 3px 6px rgba(0, 0, 135, 0.8);
    border: none;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}